.idea/
.vscode/
.dart_tool/
.gradle/
.packages
/build/
/android/
/ios/
/windows/
/test/
/integration_test/

*.iml
.metadata
pubspec.lock

.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

ignore_*
debug.log