body {
    background-color: #6a6a6a;
}

.info {
    margin: 100px auto;
    width: 500px;
    text-align: center;
}

.info p {
    color: #000000;
    font-size: small;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #67CF22;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .re2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .re3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .re4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .re5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}